body{padding: 0;width: 1240px !important;background-color: #493a85;margin: 0 auto;}
/*ÄÚÇ¶*/
/*nqwrap*/
.nqwrap{background: url(http://game.gtimg.cn/images/actdaoju/act/a20250718xbtz/nqbg1.jpg) no-repeat 50% 0;width: 1240px;overflow: hidden;padding-bottom: 100px;}
.nqwrap.cur2{background:url(http://game.gtimg.cn/images/actdaoju/act/a20250718xbtz/nqbg2.jpg) no-repeat 50% 0;}
.nqwrap.cur3{background:url(http://game.gtimg.cn/images/actdaoju/act/a20250718xbtz/nqbg3.jpg) no-repeat 50% 0;}
.nqwrap.cur4{background:url(http://game.gtimg.cn/images/actdaoju/act/a20250718xbtz/nqbg4.jpg) no-repeat 50% 0;}

.nqhead{height: 216px;position: relative;}
.nq_time{font-size: 22px;color: #000000;text-align: center;line-height: 34px;padding-top: 14px;}
.login_box{font-size: 22px!important;color: #000000;text-align: center;line-height: 34px;position: absolute;left: 0;top: 50px;}
.login_box a{color: #6250ff;}
.btn_top{top: 124px;}
.btnfz1{top: 85px;}

 ::-webkit-scrollbar-track-piece{background-color:#05060a;}
 ::-webkit-scrollbar{width:6px;}
 ::-webkit-scrollbar-thumb{background:#4c5470;border-radius: 10px}


 